.idea/
*.iws
*.iml
*.ipr

/.idea/*
!/.idea/description/
!/.idea/encodings.xml
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/runConfigurations/
!/.idea/vcs.xml
!/.idea/workspace.xml

/out/

*.log

lib/
libraries/

.DS_Store
Thumbs.db

.env
.vscode/
*.swp

/build/
target/
*.class
*.jar
*.war

*.mvn/
